.form-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-info-download {
    .info-download-item {
        display:flex;
        justify-content:center;
        align-items:center;
        gap:8px;
        width:fit-content;
        span{
            color: #5c6c75;
            font-size: 14px;
        }
    }
}

.form-price {
    margin:16px 0px;
    padding:16px;
    background-color:rgba(240,243,242,1);
    p {
        color:#db3030;
        font-size:24px;
        font-weight:700;
    }
}

.detail-info {
    td{
        color: #5c6c75 !important;
    }
}

.form-action {
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    button {
        padding: 10px 28px;
    }
}